body{background-color: blue;}

.container{color: blue;
background-color: aqua;
width: 5%}

header{background-color: aqua;
width: 80%}

body{background-color: blue;}
div{background-color: yellow;}
li{color: white;
background-color: blue;
width: 5%}

